<%= form_for(@preguntum) do |f| %>
	<% if @preguntum.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@preguntum.errors.count, "error") %> prohibited this preguntum from being saved:</h2>

		<ul>
		<% @preguntum.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
	<%= f.label :question %>
	<%= f.text_field :question %>
	</div>
	<div class="field">
	<%= f.label :answer %>
	<%= f.text_field :answer %>
	</div>
	<div class="field">
	<%= f.label :clue1 %>
	<%= f.text_field :clue1 %>
	</div>
	<div class="field">
	<%= f.label :clue2 %>
	<%= f.text_field :clue2 %>
	</div>
	<div class="field">
	<%= f.label :fake_answer1 %>
	<%= f.text_field :fake_answer1 %>
	</div>
	<div class="field">
	<%= f.label :fake_answer2 %>
	<%= f.text_field :fake_answer2 %>
	</div>
	<div class="field">
	<%= f.label :fake_answer3 %>
	<%= f.text_field :fake_answer3 %>
	</div>
	<div class="actions">
	<%= f.submit 'Actualizar',:class => 'button' %>
	</div>
<% end %>
